/Code/UniMini ESP8266/HalloweenCoffin/.vs/
/Code/UniMini ESP8266/HalloweenCoffin/__vm/
/Code/UniMini ESP8266/HalloweenCoffin/HalloweenCoffin.vcxproj.filters
/Code/UniMini ESP8266/HalloweenCoffin/HalloweenCoffin.vcxproj.user
/Media/Coffin.mp4
